<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Craftsvilla">
	<parameter
		name="browser"
		value="chrome"
	></parameter>
	<test name="Regression">
		<classes>
			<class name="com.craftsvilla.testscripts.SignInModuleScript"></class>
		</classes>
	</test> <!-- Regression -->
</suite> <!-- Craftsvilla -->